{% extends "../_layouts/_base.html" %}
{% block canonical %}/about{% endblock %}
{% block description %}Fashion{% endblock %}
{% block ogImage %}https://upload.wikimedia.org/wikipedia/commons/a/a6/Carolina_Herrera_AW14_12.jpg{% endblock %}
{% block content %}
<main class="container">
    <h1>about</h1>


<img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Carolina_Herrera_AW14_12.jpg" alt="">
<img src="https://d21e8thgsgi8s5.cloudfront.net/sites/default/files/styles/blog_author/public/pictures/lV2Hprnr-85.jpg" alt="">
<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim distinctio, animi quam, architecto voluptatem, pariatur maiores harum placeat voluptatibus neque quae dolorem nisi beatae mollitia impedit ad consectetur porro, laborum.</blockquote>
{% markdown %}
    # Embed
    markdown directly in your template…
{% endmarkdown %}

</main>
{% endblock %}
