<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="description" content="{% set _block = block('description') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.description}}{% endif %}" />
  <meta name="copyright" content="{% set _block = block('copyright') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.copyright}}{% endif %}" />
  <meta name="robot" content="noindex, nofollow" />
  <meta property="og:image" content="{{site.baseUrl}}{% set _block = block('ogImage') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.ogImage}}{% endif %}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="628">
  <meta property="og:title" content="{% set _block = block('title') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.title}}{% endif %}">
  <meta property="og:description" content="{% set _block = block('description') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.description}}{% endif %}">
  <meta property="og:url" content="{{site.ogUrl}}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{site.siteName}}" />
  <meta name="twitter:image" content="{{site.baseUrl}}{% set _block = block('ogImage') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.ogImage}}{% endif %}"/>
  <meta name="twitter:image:alt" content="{% set _block = block('ogAlt') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.ogAlt}}{% endif %}" />
  <meta name="twitter:title" content="{% set _block = block('title') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.title}}{% endif %}"/>
  <meta name="twitter:description" content="{% set _block = block('description') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.description}}{% endif %}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/milligram.min.css">
  <title>{% set _block = block('title') %}{% if _block is not empty %}{{ _block|raw }}{% else %}{{site.title}}{% endif %}</title>
</head>
<body>
{% block content %}{% endblock %}
{% include '../_includes/_scripts.html' %}
</body>
</html>
